@use './_mixins' as *
@use './_variables' as *
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap')

body
    overflow-x: hidden
    font-family: Montserrat
    
.imgH
    background-image: url("../assets/img/hero-bg.jpg")
    @include bg-header
    background-attachment: fixed
    background-repeat: no-repeat
    // grisé le background, je vais utiliser le meme 3 fois et juste changer sa position, obliger de changer le z-index sur les texte qui vont par dessus
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, 0.313)
        z-index: 0

nav
    padding: 20px
    height: 80px
    .navBtn
        margin-left: 18vw
        border-radius: 25px
        padding-left: 25px
        padding-right: 25px
    .navbar-nav
        margin-left: 20vw
    .navbar-brand
        font-size: 30px

.headerDivP
    display: flex
    align-items: center
    color: white
    height: 100vh
    position: relative
    z-index: 1
    margin-left: 50px
    .headerBtn
        border-radius: 25px
        font-size: 14px
       
    .headerBtn2
        border-radius: 25px
        margin-left: 1vw
        font-size: 14px
        
    .headerDiv2
        z-index: 1
        position: relative
        
        .youtube-video
            display: none
            width: 100%
            max-width: 560px
            height: 315px
        #toggle-video
            display: none
        .video-button
            display: inline-block
            padding: 10px 20px
            background-color: $yellow
            color: white
            border-radius: 50%
            cursor: pointer
            font-weight: bold
            // le ~ selectionne ce qui suit a conditions qu'ils soient freres
        #toggle-video:checked ~ .youtube-video
            display: block
    .navText
        color: $yellow
        
    .headerDiv1H3
        font-weight: 100
    #headerDiv2Btn
        padding-top: 5%
        margin-left: 30vw
        transition: 1s ease
        // box-shadow pour créer la partie 'exterieure' de la bordure
        .fa-solid
          margin-top: 10%
          color: white
          position: relative
          background-color: rgb(204, 163, 94)
          border-radius: 50%
          padding: 35px
          font-size: 30px
          box-shadow: 0px 0px 0px 10px rgba(204, 164, 94, 0.336)
    #video-toggle
      display: none
#videoPopup
  padding: 0
  border: solid 3px
  border-radius: 8px
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4)
  max-width: 60vw
  background-color: none
  z-index: 2
.close-button
        position: absolute
        top: 0px
        right: 0px
        width: 36px
        height: 36px
        border-radius: 50%
        background-color: none
        border: none
        cursor: pointer
        display: flex
        align-items: center
        justify-content: center
        z-index: 2

.fa-play
  cursor: pointer
        
    
.imgH2
    background-image: url("../assets/img/about-bg.jpg")
    @include section2
    background-attachment: fixed
    background-repeat: no-repeat
    
    &::before
        content: ''
        position: absolute
        top: 100vh
        left: 0
        width: 100%
        height: 70%
        background-color: rgba(0, 0, 0, 0.313)
        z-index: 0

.section2DivP
    display: flex
    z-index: 1
    position: relative
    padding-top: 10vh
    .section2Div1
        color: white
        margin-left: 3%
        .section2Div1H3
            font-size: 25px
        .section2Div1P
            font-size: 10px
            font-size: italic
        .section2Div1D
            display: flex
            align-items: center
            gap: 5px
            .fa-check
                color: $yellow
                border: 1px solid $yellow
                border-radius: 100%
                padding: 4px

    .section2Div2
        position: relative
        width: 100%
        height: 100%
        .section2Img
            width: 500px
            height: 350px
            border: 3px solid rgb(59, 58, 58)
            margin-left: 50px
            // crée un effet zoom
        .section2Img:hover
            transform: scale(1.1)
            // before et after pour créer les ligne horizontales et verticales
        .gauche::before
            content: ""
            color: $yellow
            border: 2px solid $yellow
            position: absolute 
            left: 70px
            width: 70px
            top: 15px
        .droite::before
            content: ""
            color: $yellow
            border: 2px solid $yellow
            position: absolute 
            left: 462px
            width: 70px
            top: 330px
        .gauche::after
            content: ""
            color: $yellow
            border: 2px solid $yellow
            position: absolute 
            left: 70px
            height: 70px
            top: 15px
        .droite::after
            content: ""
            color: $yellow
            border: 2px solid $yellow
            position: absolute 
            left: 529px
            height: 70px
            top: 264px
        
.section3
    background-color: $black
    
    .seciton3DivP
        margin-left: 3%
        padding-bottom: 5vh
        margin-right: 3%
        .seciton3Div1
            padding-top: 5vh
            .seciton3Div1H4
                color: white
                font-weight: 100
                font-size: 18px
            .seciton3Div1H2
                color: $yellow
        .seciton3Div2
            display: flex
            padding-top: 5vh
            justify-content: space-around
            gap: 10px
            
            .seciton3Div2D
                background-color: $gris
                padding-top: 4vh
                padding-bottom: 4vh
                padding-left: 2vw
                padding-right: 2vw 
                
             
            
                
                .seciton3Div2DH2
                    color: $yellow
                    font-size: 23px
                    padding-bottom: 2vh
                .seciton3Div2DH3
                    color: white
                    font-size: 20px
                    padding-bottom: 2vh
                .seciton3Div2DP
                    color: rgba(218, 218, 211, 0.66)
                    font-size: 15px
                //  hover pour créer un effet leger qui bouge avec le padding comme sur la vidéo
            .seciton3Div2D:hover
                background-color: $yellow
                padding-top: 20px
                h2
                    color: white

.section4
    background-color: $gris
    height: auto
    
    .section4Div1H4
        color: white
        font-weight: 100
        font-size: 18px
        padding-top: 5vh
        margin-left: 3%
    
    .section4Div1H2
        padding-bottom: 5vh
        color: $yellow
        margin-left: 3%
    
    .section4Div2
        color: white
        display: flex
        justify-content: center
        gap: 30px
        padding-bottom: 5vh
        
        a
            text-decoration: none
            
        .section4Div2P
            text-decoration: none
            color: white
            transition: color 0.3s ease
            
            
    
    // Éléments invisibles pour le filtrage
    #all, #starters-filter, #salads-filter, #specialty-filter
        display: none
            
    .section4Div3
        flex-wrap: wrap
        display: flex
        color: white
        margin-left: 3%
        margin-right: 3%
        
        .carte
            display: flex
            padding-bottom: 5vh
            
            .section4Img
                width: 60px
                height: 60px
                border: 3px solid grey
                border-radius: 50%
                
            .section4Text
                padding-left: 20px
                
            .section4Prix
                padding-left: 2vw
                color: $yellow
    
    .section4Div4
        padding-bottom: 5vh

// https://www.youtube.com/watch?v=XdtZWVK3y_Q&ab_channel=DaveGray PRINCIPALE SOURCE POUR CE QUI SUIT 


// Etat de base, tout est visible en all, le ~ selectionne ce qui suit a conditions qu'ils soient freres
#all:target ~ .section4Div3 .carte,
.section4DivP:not(:has(#starters-filter:target, #salads-filter:target, #specialty-filter:target)) .section4Div3 .carte
    opacity: 1
    display: flex

// Pour les 3 suivants on leur explique quoi faire dépendant de l'etat
// grace au display flex et au col-6 dans l'html il remplit l'espace comme ça et display none important juste pour liberer l'espace
#starters-filter:target ~ .section4Div3
    .carte
        opacity: 0
        display: none
    
    .carte:has(#starters)
        opacity: 1
        display: flex


#salads-filter:target ~ .section4Div3
    .carte
        opacity: 0
        display: none
    
    .carte:has(#salads)
        opacity: 1
        display: flex


#specialty-filter:target ~ .section4Div3
    .carte
        opacity: 0
        display: none
    
    .carte:has(#specialty)
        opacity: 1
        display: flex

// Tu définies ce qui s'affiche en appuyant sur 1 des 4 choix et la derniere ligne dit que si t'appuies pas sur un d 3 ça se met en all par default
#all:target ~ .section4Div2 a[href="#all"] .section4Div2P,
#starters-filter:target ~ .section4Div2 a[href="#starters-filter"] .section4Div2P,
#salads-filter:target ~ .section4Div2 a[href="#salads-filter"] .section4Div2P,
#specialty-filter:target ~ .section4Div2 a[href="#specialty-filter"] .section4Div2P,
.section4DivP:not(:has(#starters-filter:target, #salads-filter:target, #specialty-filter:target)) .section4Div2 a[href="#all"] .section4Div2P
    



                
                
                    


.imgH3
    background-image: url("../assets/img/events-bg.jpg")
    @include section5
    background-attachment: fixed
    background-repeat: no-repeat
    
    &::before
        content: ''
        position: absolute
        top: 327vh
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, 0.504)
        z-index: 0
.section5Div1
    margin-left: 3%
    position: relative
    z-index: 1
    .section5Div1H4
        color: white
        font-weight: 100
        font-size: 18px
        padding-top: 5vh
    .section5Div1H2
        padding-bottom: 5vh
        
        
    
    .section5Div1H2
        color: $yellow
.carousel
    display: flex

.carousel-indicators
    position: absolute
    right: 50%
    top: 110%
.section5Div2
    position: absolute
    right: 3%
    top: 3vh
    .section5Div2H3
        color: $yellow
    .section5Div2PI
        font-style: italic
        font-size: 15px
    .section5Div2P
        font-size: 15px

.section6DivP
    background-color: $black
    
    .section6Div1
        padding-top: 5vh
        margin-left: 3%
        .section6Div1H4
            color: white
            font-weight: 100
            font-size: 18px
        .section6Div1H2
            color: $yellow
    
    form
        background-color: $black
        padding: 20px
        input
            width: 100%
            padding: 10px
            margin: 10px 0
            border: 0.5px solid rgb(104, 104, 100)
            background: transparent
            color: $yellow
        textarea
            width: 100%
            padding: 10px
            margin: 10px 0
            border: 0.5px solid rgb(104, 104, 100)
            background: transparent
            color: $yellow
        .row
            display: flex
            gap: 10px
        .row input
            flex: 1
        button
            background-color: $yellow
            color: white
            padding: 10px 20px
            cursor: pointer
            border-radius: 25px
            margin-left: 38vw

.section7DivP
    background-color: $black
    .section7Div1
        padding-top: 5vh
        margin-left: 3%
        .section7Div1H4
            color: white
            font-weight: 100
            font-size: 18px
        .section7Div1H2
            color: $yellow
    .section7DivImg
        padding-top: 5vh
        
        .section7Div2
            display: flex
            
            .section7Img1
                width: 25%
                transition: 0.3s ease
                
            .section7Img1:hover
                transform: scale(1.02)
               
                


.section8DivP
    background-color: $black
    .section8Div1
        padding-top: 15vh
        margin-left: 3%
        .section8Div1H4
            color: white
            font-weight: 100
            font-size: 18px
        .section8Div1H2
            color: $yellow
    .section8Div2
        padding-top: 5vh
        display: flex
        margin-left: 3%
        padding-bottom: 15vh
        gap: 10px
        .section8Div2Img1
            width: 450px
            height: 450px
            background: url("../assets/img/chefs/chefs-1.jpg")
        
            
            .section8Card1
                display: flex
                flex-direction: column
                text-align: center
                position: relative
                top: 359px
                opacity: 0
                color: white
                .section8CardP
                    font-style: italic
                .section8I
                    display: flex
                    flex-direction: row
                    gap: 25px
                    justify-content: center
                    font-size: 20px
        .section8Div2Img1:hover
            .section8Card1
                opacity: 1
                background: linear-gradient(to top, black , transparent)
           
        .section8Div2Img2
            width: 450px
            height: 450px
            background: url("../assets/img/chefs/chefs-2.jpg")
            
            .section8Card2
                display: flex
                flex-direction: column
                text-align: center
                position: relative
                top: 359px
                opacity: 0
                color: white
                .section8CardP
                    font-style: italic
                .section8I
                    display: flex
                    flex-direction: row
                    gap: 25px
                    justify-content: center
                    font-size: 20px
        .section8Div2Img2:hover
            .section8Card2
                opacity: 1
                background: linear-gradient(to top, black , transparent)
        .section8Div2Img3
            width: 450px
            height: 450px
            background: url("../assets/img/chefs/chefs-3.jpg")
            
            .section8Card3
                display: flex
                flex-direction: column
                text-align: center
                position: relative
                top: 359px
                opacity: 0
                color: white
                .section8CardP
                    font-style: italic
                .section8I
                    display: flex
                    flex-direction: row
                    gap: 25px
                    justify-content: center
                    font-size: 20px
        .section8Div2Img3:hover
            .section8Card3
                opacity: 1
                background: linear-gradient(to top, black , transparent)
        .section8Img
            width: 450px
            height: 450px

            
.section9DivP
    background-color: $black
    .section9Div1
        margin-left: 3%
        .section9Div1H4
            color: white
            font-weight: 100
            font-size: 18px
        .section9Div1H2
            color: $yellow
    .section9Div2
        width: 100%
    .section9Div3
        display: flex
        padding-top: 5vh
        .section9Div4
            margin-left: 3%
            flex-direction: column
            
            .section9Div5
                display: flex
                align-items: center
                .contact
                    color: white
                    border-radius: 50%
                    padding: 7px
                    background-color: $yellow
                .divContact
                    color: white
                    padding-left: 1vw
                    .divContactH4
                        font-size: 20px
                    .divContactP
                        font-size: 15px
                        color: rgb(123, 121, 121)
        .contact-form
            display: flex
            width: 100%
            padding: 20px
            .form-row
                display: flex
                gap: 10px
                margin-bottom: 15px
                width: 800px
            .form-row input
                flex: 1
            .form-field
                margin-bottom: 15px
            input
                width: 100%
                padding: 10px
                box-sizing: border-box
                background-color: $black
                border: 1px solid rgb(104, 104, 100)
                color: white
                outline: none
            textarea
                width: 100%
                padding: 10px
                box-sizing: border-box
                background-color: $black
                border: 1px solid rgb(104, 104, 100)
                color: white
                outline: none
                min-height: 200px
                resize: vertical
            .form-button
                text-align: center
                .btnContact
                    background-color: $yellow
                    color: white
                    padding: 10px 25px
                    border-radius: 25px
                    cursor: pointer
                    font-weight: 100
                    
.hrF
    margin: 0
    padding: 0
    color: rgba(49, 48, 48, 0.192)
    height: 1px

    
footer
    background-color: $black
    .section10DivP
        display: flex
        margin-left: 3%
        margin-right: 3%
        justify-content: space-around
        color: white
        padding-top: 5vh
        padding-bottom: 5vh
        .section10Div1H4
            font-size: 23px
        .section10Div1P
            font-weight: 100
            font-size: 15px
            padding: 5px
            margin: 0
        .fa-brands
            color: white
            background-color: rgba(79, 77, 77, 0.338)
            border-radius: 50%
            cursor: pointer
            padding: 10px
        .section10Div2H4
            font-size: 23px
        .section10Div2P
            font-weight: 100
            font-size: 15px
            padding: 5px
            margin: 0
        .section10Div3H4
            font-size: 23px
        .section10Div3P
            font-weight: 100
            font-size: 15px
            padding: 5px
            margin: 0
        .section10Div4H4
            font-size: 23px
        .section10Div4P
            font-weight: 100
            font-size: 15px
            padding: 5px
            margin: 0
        
        .subscription-container 
            display: flex
            justify-content: center
            align-items: center
        .subscription-form 
            display: flex
            align-items: center
            background-color: $gris
            border-radius: 25px
            padding: 5px
            margin-top: 3vh
        .subscription-form input 
            flex: 1
            border: none
            background: transparent
            padding: 10px 15px
            font-size: 16px
            color: $yellow
            outline: none
        .subscription-form button
            background-color: $yellow
            border-radius: 15px
            color: white
            outline: none
            padding: 10px 30px
            
        .subscription-form button:hover 
            background-color: $yellow
        .spanF
            color: $yellow
            padding-left: 1vw

.hrCP
    margin: 0
    padding: 0

.section11
    background-color: $black
    .section11DivP
        display: flex
        align-items: center
        justify-content: center
        gap: 33vw
        
        .section11Div1P
            margin: 0
            padding-bottom: 3vh
            padding-top: 3vh
            color: white
            font-weight: 100
        .spanCP
            font-weight: bold
        
        .fa-arrow-up
            color: $yellow
            border: 1px solid $yellow
            border-radius: 50%
            padding: 10px
                



            



        
