@use './_mixins' as *
@use './_variables' as *
body
    overflow-x: hidden
    
.imgH
    background-image: url("../assets/img/hero-bg.jpg")
    @include bg-header
    background-attachment: fixed
    background-repeat: no-repeat
    
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, 0.313)
        z-index: 0

nav
    padding: 20px
    height: 80px
    .navBtn
        margin-left: 18vw
        border-radius: 25px
        padding-left: 25px
        padding-right: 25px
    .navbar-nav
        margin-left: 20vw
    .navbar-brand
        font-size: 30px

.headerDivP
    display: flex
    align-items: center
    color: white
    height: 100vh
    position: relative
    z-index: 1
    margin-left: 50px
    .headerDiv2
        z-index: 1
        position: relative
        .youtube-video
            display: none
            width: 100%
            max-width: 560px
            height: 315px
        #toggle-video
            display: none
        .video-button
            display: inline-block
            padding: 10px 20px
            background-color: $yellow
            color: white
            border-radius: 50%
            cursor: pointer
            font-weight: bold
        #toggle-video:checked ~ .youtube-video
            display: block
    .navText
        color: $yellow
        
    .headerDiv1H3
        font-weight: 100
    .headerDiv2
        margin-left: 30vw
        font-size: 40px
    .headerBtn
        border-radius: 25px
        padding-left: 25px
        padding-right: 25px
    .headerBtn2
        border-radius: 25px
        margin-left: 20px
        padding-left: 25px
        padding-right: 25px
    .HeaderBtn3
        background: $yellow 
        border-radius: 50%
        z-index: 1
        position: relative
    .fa-play
        z-index: 1
        position: relative
    .modal
        z-index: 1
        
    
.imgH2
    background-image: url("../assets/img/about-bg.jpg")
    @include section2
    background-attachment: fixed
    background-repeat: no-repeat
    
    &::before
        content: ''
        position: absolute
        top: 100vh
        left: 0
        width: 100%
        height: 70%
        background-color: rgba(0, 0, 0, 0.313)
        z-index: 0

.section2DivP
    display: flex
    z-index: 1
    position: relative
    padding-top: 10vh
    .section2Div1
        color: white
        margin-left: 3%
        .section2Div1H3
            font-size: 25px
        .section2Div1P
            font-size: 10px
            font-size: italic
        .section2Div1D
            display: flex
            align-items: center
            gap: 5px
            .fa-check
                color: $yellow
                border: 1px solid $yellow
                border-radius: 100%
                padding: 4px
    .section2Img
        width: 500px
        height: 350px
        border: 3px solid rgb(59, 58, 58)
        margin-left: 50px
    
.section3
    background-color: $black
    
    .seciton3DivP
        margin-left: 3%
        padding-bottom: 5vh
        margin-right: 3%
        .seciton3Div1
            padding-top: 5vh
            .seciton3Div1H4
                color: white
                font-weight: 100
                font-size: 20px
            .seciton3Div1H2
                color: $yellow
        .seciton3Div2
            display: flex
            padding-top: 5vh
            justify-content: space-around
            gap: 10px
            
            .seciton3Div2D
                background-color: $gris
                padding-top: 4vh
                padding-bottom: 4vh
                padding-left: 2vw
                padding-right: 2vw 
                .seciton3Div2DH2
                    color: $yellow
                    font-size: 23px
                    padding-bottom: 2vh
                .seciton3Div2DH3
                    color: white
                    font-size: 20px
                    padding-bottom: 2vh
                .seciton3Div2DP
                    color: rgba(218, 218, 211, 0.66)
                    font-size: 15px
                    


.imgH3
    background-image: url("../assets/img/events-bg.jpg")
    @include section5
    background-attachment: fixed
    background-repeat: no-repeat
    
    &::before
        content: ''
        position: absolute
        top: 234vh
        left: 0
        width: 100%
        height: 99%
        background-color: rgba(0, 0, 0, 0.504)
        z-index: 0
.section5Div1
    margin-left: 3%
    position: relative
    z-index: 1
    .section5Div1H4
        color: white
        font-weight: 100
        font-size: 20px
        padding-top: 5vh
    .section5Div1H2
        padding-bottom: 5vh
        
        
    
    .section5Div1H2
        color: $yellow
.carousel
    display: flex

.carousel-indicators
    position: absolute
    right: 50%
    top: 110%
.section5Div2
    position: absolute
    right: 3%
    top: 3vh
    .section5Div2H3
        color: $yellow
    .section5Div2PI
        font-style: italic
        font-size: 15px
    .section5Div2P
        font-size: 15px

    
        