@use './_variables' as *

@mixin bg-header
    background-size: cover
    background-position: 10% 4%
    height: 100vh

@mixin section2
    background-size: cover
    background-position: 10% 4%
    height: 70vh

@mixin section5
    background-size: cover
    background-position: 10% 4%
    height: 100vh